$primary-background: #f4f4f4;
$primary-footer-bcg: #efefef;
$primary-color: #151515;
$primary-text-color: #222;
$primary-link-color: #151515;
$primary-copyright-color: #cfcfcf;

$secondary-background: #333;
$secondary-footer-bcg: #2f2f2f;
$secondary-color: #fff;
$secondary-text-color: #e6e6e6;
$secondary-link-color: #fff;
$secondary-copyright-color: #565656;
