@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
.page {
  background-color: #f4f4f4;
  font-family: "Inter", Arial, sans-serif;
  max-width: 1440px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.page_theme_dark {
  background-color: #333;
}
.page__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.page__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.page__button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.slider {
  overflow: hidden;
}
.slider_place_bikes {
  display: grid;
  grid-template-areas: "title title buttons" "track track track";
}
.slider__track {
  display: flex;
  transition: 0.3s;
}
.slider__track_place_bikes {
  grid-area: track;
  gap: 0 43px;
}
.slider__buttons_place_bikes {
  grid-area: buttons;
  padding: 92px 0 0;
  justify-self: end;
}
.slider__btn:last-of-type {
  margin: 0;
}
.slider__btn_place_surfaces {
  width: 50px;
  height: 50px;
  background-color: #ebebeb;
  border-radius: 50px;
  margin-right: 20px;
  transition: opacity 0.2s linear;
}
.slider__btn_place_surfaces:hover {
  opacity: 0.6;
}
.slider__btn_place_surfaces:disabled {
  color: inherit;
}
.slider__btn_place_bikes {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  text-align: right;
  color: #151515;
  margin: 0 40px 0 0;
}

.form {
  margin: 0 0 100px 0;
  position: relative;
}
.form_place_footer {
  grid-area: form;
}
.form__legend {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #cfcfcf;
  max-width: 230px;
  margin: 0 0 50px;
}
.form__item {
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
.form__item_type_email {
  width: 360px;
  height: 50px;
  font-family: inherit;
  text-indent: 20px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  background-color: inherit;
  outline: none;
}
.form__item_type_email::-webkit-input-placeholder {
  color: #222;
}
.form__item_type_email::-ms-input-placeholder {
  color: #222;
}
.form__item_type_email:hover::-webkit-input-placeholder {
  color: #151515;
}
.form__item_type_email:hover::-ms-input-placeholder {
  color: #151515;
}
.form__item_type_email:focus::-webkit-input-placeholder {
  color: transparent;
}
.form__item_type_email:focus::-ms-input-placeholder {
  color: transparent;
}
.form__input-container {
  margin: 0;
  padding: 0;
  border: none;
}
.form__button {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 215%;
  text-align: right;
  color: #151515;
  bottom: 11px;
  left: 328px;
}
.form__button_disabled {
  display: none;
}
@media screen and (max-width: 767px) {
  .form__legend {
    margin: 0 0 40px;
  }
  .form__item_type_email {
    width: 284px;
    height: 50px;
  }
  .form__button {
    left: 252px;
  }
}

.logo_place_footer {
  grid-area: logo;
  margin: 0 0 0 auto;
}
@media screen and (min-width: 768px) {
  .logo_place_footer {
    display: none;
  }
}

.theme-switcher {
  width: 44px;
  height: 24px;
  background-color: #fff;
  border-radius: 9999px;
  position: relative;
}
.theme-switcher::before {
  content: "";
  width: 28px;
  height: 28px;
  background-image: url(../../images/icons/bright-theme-icon.svg);
  position: absolute;
  right: 66px;
  bottom: -2px;
}
.theme-switcher::after {
  content: "";
  width: 28px;
  height: 28px;
  background-image: url(../../images/icons/dark-theme-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 66px;
  bottom: 0px;
}
.theme-switcher_place_header {
  align-self: center;
  margin: 0 0 40px 0;
}
.theme-switcher_place_footer {
  margin: 0 46px 0 auto;
  grid-area: switcher;
}
.theme-switcher__button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #24b47e;
  border: none;
  margin: 2px;
  transition: 0.3s ease-in;
}
.theme-switcher__button_active {
  transform: translateX(19px);
}
@media screen and (min-width: 768px) {
  .theme-switcher_place_header {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .theme-switcher_place_footer {
    display: none;
  }
}

.header {
  background-color: inherit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
@-webkit-keyframes lineEmersion {
  from {
    stroke-width: 0;
  }
  to {
    stroke-width: 3;
  }
}
@keyframes lineEmersion {
  from {
    stroke-width: 0;
  }
  to {
    stroke-width: 3;
  }
}
@-webkit-keyframes lineVanishing {
  from {
    stroke-width: 3;
  }
  to {
    stroke-width: 0;
  }
}
@keyframes lineVanishing {
  from {
    stroke-width: 3;
  }
  to {
    stroke-width: 0;
  }
}
.header__container {
  display: flex;
  justify-content: flex-end;
  max-width: 1440px;
  min-height: 74px;
  margin: 0 auto;
  align-items: center;
}
.header__icon-line:nth-of-type(1) {
  transition: 0.3s linear;
}
.header__icon-line:nth-of-type(2) {
  -webkit-animation: lineEmersion 0.3s linear forwards;
          animation: lineEmersion 0.3s linear forwards;
}
.header__icon-line:nth-of-type(3) {
  transition: 0.2s linear;
}
.header__icon-line_active:nth-of-type(1) {
  transition: 0.3s linear;
  transform: rotate(45deg) translate(-2px, -1px);
}
.header__icon-line_active:nth-of-type(2) {
  -webkit-animation: lineVanishing 0.3s linear forwards;
          animation: lineVanishing 0.3s linear forwards;
}
.header__icon-line_active:nth-of-type(3) {
  transition: 0.2s linear;
  transform: rotate(-45deg) translate(-5px, 0px);
}
.header__list-item {
  margin: 0 34px 0 0;
}
.header__list-item:last-of-type {
  margin: 0;
}
.header__menu {
  margin: 0 120px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__menu_active {
  transform: translate(0px, 0px);
}
.header__menu-icon {
  display: none;
}
.header__menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: right;
  color: #151515;
}
.header__menu-list {
  display: flex;
  margin: 28px 0;
}
@media screen and (max-width: 767px) {
  .header__list-item {
    margin: 0 auto 32px;
  }
  .header__list-item:last-of-type {
    margin: 0 auto 0;
  }
  .header__menu {
    position: fixed;
    top: 74px;
    left: 0;
    width: 100%;
    height: calc(100% - 74px);
    background-color: #f4f4f4;
    transform: translate(-100%, 0px);
    transition: 0.3s ease 0s;
  }
  .header__menu-icon {
    display: block;
    cursor: pointer;
    margin: 0 18px 0 0;
  }
  .header__menu-link {
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #151515;
  }
  .header__menu-list {
    flex-direction: column;
    margin: 70px 0 0;
  }
}

.content {
  flex: 1;
  padding: 74px 0 0 120px;
  position: relative;
  z-index: 1;
}

.intro {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "title image" "description image" "button image" "bike-name image";
  padding: 20px 0 0 0;
}
.intro__title {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 109%;
  letter-spacing: -0.5px;
  color: #151515;
  max-width: 460px;
  margin: 0 0 50px 0;
  padding: 60px 0 0 0;
  grid-area: title;
}
.intro__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #222;
  opacity: 0.7;
  max-width: 460px;
  margin: 0 0 50px 0;
  padding: 0;
  grid-area: description;
}
.intro__description-btn {
  width: 180px;
  height: 50px;
  background-image: linear-gradient(to right, #319e75 50%, #24b47e 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s ease;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  margin: 0 0 167px 0;
  grid-area: button;
}
.intro__description-btn:hover {
  background-position: 0 100%;
}
.intro__image {
  background-image: url(../../../images/placeholders/Placeholder-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 0 auto;
  max-height: 100%;
  height: 100%;
  max-width: 610px;
  width: 100%;
  grid-area: image;
  position: relative;
  box-sizing: border-box;
}
.intro__bike-img {
  max-width: 440px;
  max-height: 300px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  border-radius: 20px;
  margin: 0 0 79px -220px;
  position: -webkit-sticky;
  position: sticky;
  top: 347px;
}
.intro__top-bike-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #151515;
  position: relative;
  margin: 0 0 210px 0;
  padding: 0;
  grid-area: bike-name;
  transition: opacity linear 0.3s;
}
.intro__top-bike-link::after {
  content: "";
  position: absolute;
  width: 132px;
  border: 1px solid #d7d4d4;
  box-sizing: border-box;
  bottom: 9px;
  left: 224px;
}
.intro__top-bike-link :hover {
  opacity: 0.75;
}

.columns {
  gap: 0 80px;
  margin: 0;
  padding: 120px 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.columns_img-side_left {
  grid-template-areas: "image title" "image description" "image subline";
}
.columns_img-side_right {
  padding: 120px 120px 150px 0;
  gap: 0;
  grid-template-areas: "title image" "description image" "subline image";
}
.columns__title {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 109%;
  letter-spacing: -0.5px;
  color: #151515;
  max-width: 460px;
  padding: 0;
  margin: 0 0 50px 0;
  grid-area: title;
}
.columns__article {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 156%;
  color: #222;
  opacity: 0.7;
  max-width: 460px;
  padding: 0;
  margin: 0 0 182px 0;
  grid-area: description;
}
.columns__author {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #151515;
  max-width: 460px;
  padding: 0;
  margin: 0 0 6px 0;
  grid-area: description;
}
.columns__image {
  grid-area: image;
  max-width: 650px;
  max-height: 460px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.columns__image_type_cyclist {
  background-image: url(../../../../images/placeholders/Placeholder-2.jpg);
}
.columns__image_type_workout {
  max-width: 580px;
  justify-self: end;
  background-image: url(../../../../images/placeholders/Placeholder-3.jpg);
}
.columns__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #151515;
  transition: opacity linear 0.3s;
}
.columns__link:hover {
  opacity: 0.75;
}
.columns__list {
  grid-area: subline;
  display: grid;
  gap: 0 30px;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  grid-auto-flow: column;
}
.columns__quote {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 129%;
  letter-spacing: -0.5px;
  color: #151515;
  max-width: 460px;
  padding: 0;
  margin: 0 0 262px 0;
  grid-area: title;
}
.columns__subline {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #222;
  opacity: 0.7;
  max-width: 460px;
  padding: 0;
  margin: 0;
  grid-area: subline;
}

.surfaces__title {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 109% x;
  letter-spacing: -0.5px;
  color: #151515;
  padding: 0;
  margin: 0 0 50px 0;
  max-width: 460px;
}
.surfaces__article {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #222;
  opacity: 0.7;
  padding: 0;
  margin: 0 0 80px 0;
  max-width: 460px;
}
.surfaces__element {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 50px 0;
}
.surfaces__img-container {
  display: grid;
  gap: 0 40px;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  grid-auto-flow: column;
  position: relative;
  overflow: hidden;
}
.surfaces__img-container::before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 16px;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 4px;
  border-right: 40px solid transparent;
  background-color: #24b47e;
  transform: skew(-45deg, 0deg);
}
.surfaces__img-container::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 40px;
  bottom: 16px;
  left: -20px;
  background-repeat: no-repeat;
  background-position: center;
}
.surfaces__img-container_type_higway::after {
  background-image: url(../../../../images/icons/highway.svg);
}
.surfaces__img-container_type_gravel::after {
  background-image: url(../../../../images/icons/gravel.svg);
}
.surfaces__img-container_type_tt::after {
  background-image: url(../../../../images/icons/TT.svg);
}
.surfaces__img {
  max-width: 650px;
  max-height: 400px;
  width: 100%;
  height: 100%;
}

.bikes {
  margin: 0;
  padding: 0 120px 0 0;
}
.bikes__title {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 109%;
  letter-spacing: -0.5px;
  color: #151515;
  padding: 0;
  margin: 60px 0 120px 0;
  max-width: 460px;
  grid-area: title;
}
.bikes__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: relative;
  z-index: 3;
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
  overflow: hidden;
}
.bikes__img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
}
.bikes__img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #f4f4f4;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  z-index: 2;
}
.bikes__bike-img {
  max-width: 340px;
  max-height: 340px;
  height: 100%;
  width: 100%;
  margin: 20px;
  border-radius: 20px;
  z-index: 4;
}
.bikes__bike-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #222;
  margin: 22px 0 60px;
}

.footer {
  display: grid;
  align-items: center;
  grid-template-areas: "form form" "copy switcher";
  padding: 80px 120px 60px;
  background-color: #efefef;
  z-index: 1;
}
.footer__copyright {
  grid-area: copy;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #cfcfcf;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 60px 18px 16px;
    grid-template-areas: "form form" "copy logo";
  }
}/*# sourceMappingURL=index.css.map */