@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
.page {
  background-color: #f4f4f4;
  font-family: "Inter", Arial, sans-serif;
  max-width: 1440px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.page_theme_dark {
  background-color: #333;
}
.page__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.page__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.page__button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.header {
  background-color: inherit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
@-webkit-keyframes lineEmersion {
  from {
    stroke-width: 0;
  }
  to {
    stroke-width: 3;
  }
}
@keyframes lineEmersion {
  from {
    stroke-width: 0;
  }
  to {
    stroke-width: 3;
  }
}
@-webkit-keyframes lineVanishing {
  from {
    stroke-width: 3;
  }
  to {
    stroke-width: 0;
  }
}
@keyframes lineVanishing {
  from {
    stroke-width: 3;
  }
  to {
    stroke-width: 0;
  }
}
.header__container {
  display: flex;
  justify-content: flex-end;
  max-width: 1440px;
  min-height: 74px;
  margin: 0 auto;
  align-items: center;
}
.header__icon-line:nth-of-type(1) {
  transition: 0.3s linear;
}
.header__icon-line:nth-of-type(2) {
  -webkit-animation: lineEmersion 0.3s linear forwards;
          animation: lineEmersion 0.3s linear forwards;
}
.header__icon-line:nth-of-type(3) {
  transition: 0.2s linear;
}
.header__icon-line_active:nth-of-type(1) {
  transition: 0.3s linear;
  transform: rotate(45deg) translate(-2px, -1px);
}
.header__icon-line_active:nth-of-type(2) {
  -webkit-animation: lineVanishing 0.3s linear forwards;
          animation: lineVanishing 0.3s linear forwards;
}
.header__icon-line_active:nth-of-type(3) {
  transition: 0.2s linear;
  transform: rotate(-45deg) translate(-5px, 0px);
}
.header__list-item {
  margin: 0 34px 0 0;
}
.header__list-item:last-of-type {
  margin: 0;
}
.header__menu {
  margin: 0 120px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__menu_active {
  transform: translate(0px, 0px);
}
.header__menu-icon {
  display: none;
}
.header__menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: right;
  color: #151515;
}
.header__menu-list {
  display: flex;
  margin: 28px 0;
}
@media screen and (max-width: 767px) {
  .header__list-item {
    margin: 0 auto 32px;
  }
  .header__list-item:last-of-type {
    margin: 0 auto 0;
  }
  .header__menu {
    position: fixed;
    top: 74px;
    left: 0;
    width: 100%;
    height: calc(100% - 74px);
    background-color: #f4f4f4;
    transform: translate(-100%, 0px);
    transition: 0.3s ease 0s;
  }
  .header__menu-icon {
    display: block;
    cursor: pointer;
    margin: 0 18px 0 0;
  }
  .header__menu-link {
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #151515;
  }
  .header__menu-list {
    flex-direction: column;
    margin: 70px 0 0;
  }
}

.form {
  margin: 0 0 100px 0;
  position: relative;
}
.form_place_footer {
  grid-area: form;
}
.form__legend {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #cfcfcf;
  max-width: 230px;
  margin: 0 0 50px;
}
.form__item {
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
.form__item_type_email {
  width: 360px;
  height: 50px;
  font-family: inherit;
  text-indent: 20px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  background-color: inherit;
  outline: none;
}
.form__item_type_email::-webkit-input-placeholder {
  color: #222;
}
.form__item_type_email::-ms-input-placeholder {
  color: #222;
}
.form__item_type_email:hover::-webkit-input-placeholder {
  color: #151515;
}
.form__item_type_email:hover::-ms-input-placeholder {
  color: #151515;
}
.form__item_type_email:focus::-webkit-input-placeholder {
  color: transparent;
}
.form__item_type_email:focus::-ms-input-placeholder {
  color: transparent;
}
.form__input-container {
  margin: 0;
  padding: 0;
  border: none;
}
.form__button {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 215%;
  text-align: right;
  color: #151515;
  bottom: 11px;
  left: 328px;
}
.form__button_disabled {
  display: none;
}
@media screen and (max-width: 767px) {
  .form__legend {
    margin: 0 0 40px;
  }
  .form__item_type_email {
    width: 284px;
    height: 50px;
  }
  .form__button {
    left: 252px;
  }
}

.footer {
  display: grid;
  align-items: center;
  grid-template-areas: "form form" "copy switcher";
  padding: 80px 120px 60px;
  background-color: #efefef;
  z-index: 1;
}
.footer__copyright {
  grid-area: copy;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #cfcfcf;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 60px 18px 16px;
    grid-template-areas: "form form" "copy logo";
  }
}/*# sourceMappingURL=index.css.map */