.slider {
  overflow: hidden;

  &_place_bikes {
    display: grid;
    grid-template-areas:
      'title buttons'
      'track track';
  }

  // &__item {
  //   display: flex;
  // }

  &__track {
    display: flex;
    transition: 0.3s;

    &_place_bikes {
      grid-area: track;
      max-width: 1230px;
      margin: 0 auto;
    }
  }

  &__buttons {
    &_place_bikes {
      padding: 92px 120px 0 0;
      justify-self: end;
      grid-area: buttons;
    }
  }

  &__btn {
    &:last-of-type {
      margin: 0;
    }

    &_place_surfaces {
      width: 50px;
      height: 50px;
      background-color: #ebebeb;
      border-radius: 50px;
      margin-right: 20px;
      transition: opacity 0.2s linear;

      &:hover {
        opacity: 0.6;
      }

      &:disabled {
        color: inherit;
      }
    }

    &_place_bikes {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 156%;
      text-align: right;
      margin: 0 40px 0 0;
    }
  }
}
